* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Sans-Serif;
  box-sizing: border-box;
}

header {
  margin: 44px 0px 144px 76px;
}

.link-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #989D9C;
  cursor: pointer;
  margin-right: 23px;
}

.button-header {
  background-color: #665AE1;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  width: 130px;
  height: 41px;
  border-radius: 20.5px;
  border: none;
  cursor: pointer;
}

.img-logo {
  margin-left: 125px;
  display: inline-block;
}

section {
  display: inline-block;
  margin-left: 86px;
}

h1 {
  color: #515151;
  font-size: 100px;
  font-weight: 900;
}

h2 {
  color: #515151;
  font-weight: 500;
  font-size: 58px;
}

p {
  font-weight: 400;
  font-size: 24px;
  color: #848484;
  width: 580px;
  margin: 32px 0 65px 0;
}

.button-main {
  width: 239px;
  height: 64px;
  font-weight: 700;
  font-size: 28px;
  border-radius: 50px;
  border: none;
  color: #000000;
  background-color: #ADFF00;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000040;
}

@media screen and (max-width: 1000px) {
  header {
    display: none;
  }

  p {
    display: none;
  }

  .img-logo {
    display: block;
    width: 90%;
    margin: 15% auto 24px auto;
  }

  section {
    margin: 0;
  }

  h1 {
    font-size: 50px;
    width: 100vw;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    margin: 7px 0 17px 0;
    width: 100%;
    text-align: center;
  }

  .button-main {
    display: block;
    margin: 0 auto;
  }

}